body {
  height: 300vh;
}

button {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

img {
  display: block;
  width: 100%;
}

.header_wrap {
  width: 100%;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 9999;
}

.header_wrap::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #0AA8FF, #1078FF);
  opacity: 0.8;
  z-index: -1;
}

.top_nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}

.top_nav_wrapper .logo a {
  font-weight: bold;
  padding: 5px 20px;
  font-size: 20px;
  color: #fff;
  height: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: cursive;
}

.top_nav_wrapper .logo a:hover {
  text-decoration: none;
}

.top_nav_wrapper .top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.red_more {
  padding: 10px 20px;
  background: #fff;
  color: #1078ff;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(80, 127, 207, 0.6);
          box-shadow: 0 2px 8px 0 rgba(80, 127, 207, 0.6);
}

.red_more span {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 20px solid #ffffff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  -webkit-animation: rdm_anim 1s linear infinite alternate;
          animation: rdm_anim 1s linear infinite alternate;
}

.red_more:hover {
  text-decoration: none;
  background: #c7dcff;
}

.top_nav_links .navbar-nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #dddddd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 6px;
}

.top_nav_links .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

.top_nav_links .navbar-dark .navbar-nav .active {
  position: relative;
}

.top_nav_links .navbar-dark .navbar-nav .active::after {
  content: '';
  display: block;
  width: 50%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 5px;
}

.nav_scroll_color_add {
  background: #1078FF;
  padding: 0;
  -webkit-box-shadow: 0 4px 10px 0 rgba(44, 135, 240, 0.4);
          box-shadow: 0 4px 10px 0 rgba(44, 135, 240, 0.4);
}

.nav_bar_open {
  padding: 5px 20px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff;
  display: none;
}

.nav_scroll_color_remove {
  background: transparent;
  padding: 8px 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner {
  border: 1px solid #ddd;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

@-webkit-keyframes rdm_anim {
  0% {
    bottom: -5px;
    opacity: 0;
  }
  100% {
    bottom: -25px;
    opacity: 1;
  }
}

@keyframes rdm_anim {
  0% {
    bottom: -5px;
    opacity: 0;
  }
  100% {
    bottom: -25px;
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .header_wrap {
    min-height: 80vh;
  }
}

@media screen and (max-width: 768px) {
  .top_nav_wrapper {
    padding: 15px 0;
    background: #1078FF;
  }
  .nav_scroll_color_remove {
    background: #1078FF;
    padding: 0px;
  }
  .nav_bar_open {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #0AA8FF;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .nav_bar_open span {
    display: block;
    width: 30px;
    height: 1px;
    background: #79d0ff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .nav_bar_open span:not(:last-child) {
    margin-bottom: 6px;
  }
  .nav_bar_open::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .nav_bar_open:hover {
    border-color: #fff;
  }
  .nav_bar_open:hover span {
    background: #fff;
  }
  .top_nav_links .navbar {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #1078FF;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .top_nav_links_toggle {
    -webkit-transform: rotateX(0deg) !important;
            transform: rotateX(0deg) !important;
  }
  .top_nav_links .navbar-nav {
    display: block;
    border-top: 4px solid #FF9800;
  }
  .top_nav_links ul {
    width: 80%;
    margin: auto;
  }
  .top_nav_links ul li {
    width: 100%;
    display: block;
    border-bottom: 1px solid #7aabeb;
  }
}

.c_section {
  padding: 50px 10px;
}

.c_section .heading {
  text-align: center;
}

.c_section .heading h1 {
  font-size: 50px;
  padding-bottom: 15px;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
}

.c_section .heading h1::after {
  content: '';
  display: block;
  width: 250px;
  height: 1px;
  background: #507fcf;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

.c_section .heading h1::before {
  content: '';
  display: block;
  background: #fff;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 2px solid #2c87f0;
  border-radius: 50px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#technology {
  background: #f5f5f5;
}

.technology_wrap .technologies {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

@media (max-width: 992px) {
  .technology_wrap .technologies {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .technology_wrap .technologies {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.technology_wrap .technologies .technology {
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.technology_wrap .technologies .technology:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.technology_wrap .technologies .technology .tech_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.technology_wrap .technologies .technology .tech_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.technology_wrap .technologies .technology .tech_text {
  text-align: center;
  padding-top: 10px;
}

.technology_wrap .technologies .technology .tech_text h3 {
  font-weight: 400;
}

.technology_wrap .technologies .technology .tech_text .tech_details {
  border: 1px solid #2c87f0;
  display: inline-block;
  padding: 7px 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.technology_wrap .technologies .technology .tech_text .tech_details:hover {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0AA8FF, #1078FF);
}

.product_wrap .product_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .product_wrap .product_grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .product_wrap .product_grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.product_wrap .product_grid .product {
  border: 1px solid #ddd;
  margin-left: -1px;
  margin-top: -1px;
  color: #000000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  padding-bottom: 100px;
}

.product_wrap .product_grid .product:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.product_wrap .product_grid .product .product_img {
  width: 100%;
}

.product_wrap .product_grid .product .product_details {
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.product_wrap .product_grid .product .product_details .name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.product_wrap .product_grid .product .product_details .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_wrap .product_grid .product .product_details .price .current {
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

.product_wrap .product_grid .product .product_details .price .old {
  padding: 5px;
  text-decoration: line-through;
  color: #999999;
}

#client {
  background: #f5f5f5;
}

.client_wrap .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_wrap .client .client_img {
  width: 100px;
  height: 100px;
  margin-top: 25px;
}

.client_wrap .client .client_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.client_wrap .client .details {
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_wrap .client .details .name {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.client_wrap .client .details .client_contact {
  display: inline-block;
  border: 1px solid #2c87f0;
  text-align: center;
  margin-top: 8px;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.client_wrap .client .details .client_contact:hover {
  background: #2c87f0;
  color: #ffffff;
  text-decoration: none;
}

.footer {
  width: 100%;
  padding: 30px 10px;
  background: #2c87f0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.scrollTopBtn {
  position: fixed;
  background: #1078ff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  right: 10px;
  bottom: 30px;
  -webkit-box-shadow: 0 3px 9px 0 rgba(44, 135, 240, 0.4);
          box-shadow: 0 3px 9px 0 rgba(44, 135, 240, 0.4);
  z-index: 99999;
  display: none;
}
/*# sourceMappingURL=style.css.map */